.SignUpPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.signUpButton{
    background-color: rgb(231, 116, 135);
    border: 1px solid black;
    padding: 5px 80px;
    margin-left: 15%;
}
