.rating {
    display: flex;
    align-items: center;
}

.starOn {
    border: none;
    color: yellow;
}

.starOn:hover {
    color: yellow;
}

.starOff {
    border: none;
    color: gray;
}

.starOff:hover {
    color: gray;
}

.fa {
    font-size: 24px;
    margin-right: 5px;
}

.fa-sharp.fa-solid.fa-star {
    border: none;
}

div .starClicked {
    color: yellow;
}


.reviewModal {
    padding: 20px;
}

form {
    display: flex;
    justify-content: center;
}

.submitButton {
    border: 1px black solid;
    background-color: rgb(231, 116, 135);
    padding: 5px 40px;
    margin-top: 10px;
    margin-left: 25%;
}

.starssssss {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: transparent;
}
