.mainPageSpots{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

/* .mainPageSpots :hover{
    box-shadow: 4px 5px 3px;
} */

.starImg{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.individualSpot{
    /* border: 3px blue solid;/ */
    box-sizing: border-box;
    display: grid;
    height: 350px;
    width: 350px;
    gap: 5px;
    margin: 25px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 80%, 10%, 10%;
    grid-template-areas:
    "image image image image"
    "address . . avgRating"
    "price . . .";
}

.spotImg{
    border-radius: 7%;
    width: 100%;
    height: 21em;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    grid-area: image;
}
.spotAddress{
    /* border: 2px solid orange; */
    /* width: 50%; */
    grid-area: address;
    width: 450px;
    font-weight: 500;
}

.spotAvgRating{
    /* border: 2px solid red; */
    /* width: 50%; */
    grid-area: avgRating;
    display: flex;
    justify-content: end;
    align-items: start;
}

.spotPrice{
    /* border: 2px solid black; */
    grid-area: price;
    width: 400px ;
    color: gray;
}

.spotPriceBold{
    font-weight: 500;
    color: black;
}


.specialSpotImg{
    border-radius: 3%;
}

.createSpotFrom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.disciptionOfSpot{
    font-size: 30px;
    border-top: 3px black solid;
}

.newReview{
    color: gray;
}

.selectedSpot{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.singleSpotName{
    font-size: xx-large;
    margin-bottom: 40px;
}

.singleSpotPlaceDetails{
    margin-bottom: 20px;
}

/* .spotImageArea{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50%, 50%;
    grid-template-areas:
    "Mainimage image1 image2"
    "Mainimage image3 image4"
}

.singleSpotMainImg{
    grid-area: Mainimage;
}
 */

.BookingstarImg{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.priceReviewAndBook{
    border: 2px solid black;

}

.description{
    display: flex;
    justify-content: space-between;
}

.starImgForSpot{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.allreviewtitlefont{
    font-size: xx-large;
}

.allReviewsForSpot{
    border-top: 2px solid black;
}
