.mainPageSpots {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

/* .mainPageSpots :hover{
    box-shadow: 4px 5px 3px;
} */


.individualSpot {
    /* border: 3px blue solid; */
    box-sizing: border-box;
    display: grid;
    height: fit-content;
    width: 20%;
    gap: 10px;
    margin: 25px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 80%, 10%, 10%;
    grid-template-areas:
        "image image image image"
        "address . . avgRating"
        "price . . .";
}

.spotImg {
    border-radius: 7%;
    width: 100%;
    height: 13em;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    grid-area: image;
}

.spotAddress {
    /* border: 2px solid orange; */
    /* width: 50%; */
    grid-area: address;
    width: 450px;
    font-weight: 500;
}

.spotAvgRating {
    /* border: 2px solid red; */
    /* width: 50%; */
    grid-area: avgRating;
    display: flex;
    justify-content: end;
    align-items: start;
}

.spotPrice {
    /* border: 2px solid black; */
    grid-area: price;
    width: 400px;
    color: gray;
}

.spotPriceBold {
    font-weight: 500;
    color: black;
}


.specialSpotImg {
    border-radius: 3%;
}

.disciptionOfSpot {
    font-size: 30px;
    border-top: 3px black solid;
}

.newReview {
    color: gray;
}

.selectedSpot {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    margin: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.singleSpotName {
    font-size: xx-large;
    margin-bottom: 40px;
}

.singleSpotPlaceDetails {
    margin-bottom: 20px;
}

/* .spotImageArea{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50%, 50%;
    grid-template-areas:
    "Mainimage image1 image2"
    "Mainimage image3 image4"
}

.singleSpotMainImg{
    grid-area: Mainimage;
}
 */

.BookingstarImg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.starImgForSpot {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.fa-sharp.fa-solid.fa-star {
    margin-right: 10px;
}

.managePageSpots {
    display: flex;
    flex-wrap: wrap;
}

.managePageButtonDiv {
    position: relative;
}

.errorshidden {
    color: white;
    font-size: small;
    margin-left: 3px;
}

.errors {
    color: red;
    font-size: small;
    margin-left: 3px;
}

/* .selectedSpot{
    display: grid;
    width: 1000px;
    height: 300px;
} */

.showSpotImages {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: fit-content;
}

.mainImageContainer {
    width: 50%;
    height: 50vh; /* set a fixed height for consistency */
    margin-right: 5px;
}

.mainSpotImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* prevent image distortion */
}

.otherImagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: 50%;
    height: 100%;
}

.fourImage {
    width: 49%;
    height: 25vh; /* set a fixed height for consistency */
    margin-bottom: 5px;
    object-fit: cover; /* prevent image distortion */
}

.priceReviewAndBook {
    width: fit-content;
    position: absolute;
    right: 10.5%;
    border: 2px solid black;
    padding: 15px 30px;
    border-radius: 3%;
}

#starNearReserve {
    margin-left: 40px;
}

.reserveButton {
    margin-top: 10px;
    margin-left: 8px;
    border: 1px solid black;
    padding: 8px 80px;
    background-color: rgb(231, 116, 135);
    box-shadow: 2px 2px 2px black;
}

.description {
    width: 70%;
    margin-bottom: 7%;
}

.nameOfOwner {
    margin-top: 10px;
    font-size: x-large;
}

.allReviewsForSpot {
    /* margin-top: 100px; */
    border-top: 2px solid black;
    width: 100%;
}

.allreviewtitlefont {
    border: none;
}

.actualReviewCss {
    font-size: xx-large;
}

.userSpotImg {
    border-radius: 7%;
    width: 140%;
    height: 12em;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    grid-area: image;
}

.managePageButtonDiv {
    margin-left: 22px;
}

.updateButton {
    border: 1px solid black;
    background-color: rgb(231, 116, 135);
    box-shadow: 1px 1px 1px;
}

.deleteButtonSpot {
    border: 1px black solid;
    background-color: rgb(231, 116, 135);
    box-shadow: 1px 1px 1px;
    margin-left: 5px;
}

.createSpotFrom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-left: 400px;
}

label {
    display: grid;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

label>div {
    display: flex;
    align-items: center;
    justify-content: start;
}

label>input {
    width: 300px;
}

.cityStateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sameLineBox{
    /* display: inline-block; */
    width: 136.5px;
}
.sameLineBoxRight{
    /* display: inline-block; */
    width: 136.5px;
    margin-left: 15px;
}
.cityState{
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: red; */
    /* display: inline-block; */
    /* flex-direction: row; */
    /* width: 300px; */
}

.textRight{
    margin-left: 16px;
}
input{
    margin-bottom: 10px;
}

p{
    font-size: smaller;
}

.createSpotButton{
    border: 1px solid black;
    background-color: rgb(231, 116, 135);
    margin-top: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.makeLineUnder{
    border-bottom: 2px solid black
}

.updateDeleteCommentButton{
    border: 1px solid black;
    background-color: rgb(231, 116, 135);
    box-shadow: 1px 1px 1px;
    margin-top: 10px;
    margin: 3px;
}

.firstNameReview{
    font-weight: 600;
    margin: 5px;
}

.dateReview{
    margin: 5px;
    color: darkgray;
}

.reviewReview{
    margin: 5px;
}
