.submitButton {

}

form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.wholePage {
    border: 1px solid black;
    display: flex;
    justify-content:  center;
    flex-direction: column;
    width: fit-content;
    margin: 8em;
    padding: 60px;
    border-radius: 10%;
    background-color: bisque;
}
